#pricing .card{
    border: none;
}
#pricing .pricing-item h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

#pricing .pricing-item h4 {
    font-size: 36px;
    font-weight: 600;
    font-family: var(--heading-font);
}

#pricing .pricing-item h4 span {
    color: rgba(68, 68, 68, 0.4);
    font-size: 16px;
    font-weight: 300;
}


#pricing .pricing-item ul{
    padding: 15px 0;
    list-style: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

#pricing .pricing-item ul li {
    padding-bottom: 16px;
}

#pricing .pricing-item ul .na{
    color: rgba(68, 68, 68, 0.37);
    text-decoration: line-through;
}

#pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
}
